@using UI.ViewModels.Student
@model AddVacationToStudentCourseViewModel

<form asp-action="AddVacationToStudentCoursePostAction" role="form">
    <div class="col-md-3">
            <div class="mt-2">
            <label asp-for="IdStudent"></label>
                <div>
                    <input class="form-control" readonly asp-for="IdStudent"/>
                </div>    
            </div>

            <div class="mt-2">
            <label asp-for="IdCourse"></label>
                <div>
                    <input class="form-control" readonly asp-for="IdCourse"/>
                </div>    
            </div>

            <div class="mt-2">
            <label asp-for="StartVacationDate"></label>
                <div>
                    <input class="form-control" asp-for="StartVacationDate"/>
                </div>    
            </div>

            <div class="mt-2">
            <label asp-for="EndVacationDate"></label>
                <div>
                    <input class="form-control" asp-for="EndVacationDate"/>
                </div>    
            </div>

        <button type="submit" class="btn btn-success mt-2">Add Course</button>
    </div>
</form>