@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using UI.Models
@model AddCourseToStudentModel

@{
    foreach(var item in @Model.Courses)
    {
        <div class="d-flex mt-2 align-center">
                    <span class="fw-light fs-3 fw-bold">
                        @item.Id
                    </span>
                    <span class="fw-light fs-5 ms-2">
                        @item.StartDate.ToShortDateString() - @item.EndDate.ToShortDateString()
                    </span>

                    <a class="btn btn-outline-dark ms-2" asp-controller="Students" asp-action="AddCourseToStudentPostAction" 
                    asp-route-id=@item.Id asp-route-studentId=@Model.Student.Id> Add </a>
        </div>
    }
}