@using Interfaces.Models
@model IEnumerable<IStudent>

<p> Course View </p>

<a class="btn btn-outline-success" asp-controller="Students" asp-action="AddStudentView"> Add Student </a>

@{
    foreach(var item in @Model)
    {
        <div class="d-flex mt-2 align-center">
                    <span class="fw-light fs-3 fw-bold">
                        @item.Id
                    </span>
                    <span class="fw-light fs-5 ms-2">
                        @item.FullName - @item.EmailAdress
                    </span>

                    <a class="btn btn-outline-dark ms-2" asp-controller="Students" asp-action="GetStudentCourses" asp-route-id=@item.Id > See Courses </a>
                    <a class="btn btn-outline-dark ms-2" asp-controller="Students" asp-action="AddCourseToStudentView" asp-route-id=@item.Id > Add Courses </a>
        </div>
    }
}