@using Interfaces.Models
@model IEnumerable<ICourse>

<p> Course View </p>

<a class="btn btn-outline-success" asp-controller="Courses" asp-action="AddCourseView"> Add Course </a>

@{
    foreach(var item in @Model)
    {
        <div class="d-flex mt-2 align-center">
                    <span class="fw-light fs-3 fw-bold">
                        @item.Id
                    </span>
                    <span class="fw-light fs-5 ms-2">
                        @item.StartDate.ToShortDateString() - @item.EndDate.ToShortDateString()
                    </span>

                    <a class="btn btn-outline-dark ms-2" asp-controller="Courses" asp-action="GetCourseStudents" asp-route-id=@item.Id > See Students </a>
        </div>
    }
}